@model DIENMAYQUYETTIEN2.Models.Account
@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<h2>UserDashBoard</h2>





@if(Session["Username"] != null) { 
    @Session["Username"].ToString(); 
    } 